body {
    min-width: 400px;
    min-height: 400px;
}

.popup-padded {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    width: 80%;
}

.sentry-logo {
    height: 2rem;
    width: 6rem;
}

.nr-logo {
    height: 1.5rem;
    width: 8rem;
}

.rollbar-logo {
    width: 6rem;
}

.datadog-logo {
    height: 6rem;
    width: 10rem;
}

.logrocket-logo {
    height: 2rem;
    width: 8rem;
}

.card-footer {
    font-size: x-small
}

.location {
    font-size: x-small;
}

.warning {
    color: #f39c12;
}

.success {
    color: #27ae60;
}

.card-text {
    font-size: smaller
}

.card-img {
    width: 55% !important;
    padding-bottom: 1rem;
}
